{% extends 'base.html' %}
{% load static %}

{% block content%}
<div class="login">

    <img src="static/img/icone_login.png" class="logo">

    <div class="login_titulo">Login</div>

    <label class="login_label">
        <span>Login</span>
        <input type=" text"  name="login" class="input">
    </label>

    <label class="senha_label">
        <span>Senha</span>
        <input type="password"  name="senha" class="input">
    </label>

    <button class="btn_entrar">ENTRAR</button>
</div>

{% endblock %}