*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bg{
    background-image: linear-gradient(to right,rgb(35, 36, 92), rgb(212, 0, 255), rgb(192, 3, 3));
    background-size: cover;

}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 40%;
    height: 300px;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 10%;
    background-color: rgba(0, 0, 0, 0.911);
    
}

.login_label{
    margin: 0 auto;
    height: 20px;
    border: 1px solid #0000;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}

.login_label span{
    position:absolute;
    color: linen;
    font-family:Verdana, Tahoma, sans-serif ;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 7.5px;
    cursor: text;
}


.senha_label{
    margin: 0 auto;
    height: 20px;
    border: 1px solid #0000;
    margin-bottom: 15px;
    text-align: center;
}

.senha_label span{
    position:absolute;
    color: linen;
    font-family:Verdana, Tahoma, sans-serif ;
    font-size: 0.7em;
    text-transform: uppercase;
    margin: 7.5px;
    cursor: text;
}

.login_titulo{
    font-family:Verdana, Tahoma, sans-serif ;
    text-align: center;
    font-size: 2.5vw;
    color: linen;
    padding-top: 15px;
    margin-bottom: 15px;
}

.input{
    border: 1px solid rgba(104, 104, 104, 0.384);
    border-radius: 5px;
    width: 30vw;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.233);
    color: linen;
    outline: none;
}

.input:hover{
    border-color: aqua;
}

.input:focus{
    border-color: aqua;
}

.btn_entrar{
    border: 1px solid rgba(3, 142, 206, 0.692);
    border-radius: 10px;
    width: 30vw;
    height: 3.5vw;
    background-color:rgba(0, 0, 0, 0.233) ;
    Color: linen;
    margin-top: 20px;
}

.btn_entrar:hover{
    background-color: rgba(3, 142, 206, 0.692);
    border: 1px solid rgb(3, 142, 206);
    Color: black;
}

.rodape{
    background-color: #000000e5;
    border-top: 1px solid #000000;;
    height:40px;
    color: #ececec;
    text-align: center;
    font-size: small;
    padding-top: 5px;
    margin-top: 0px;
  }

  .menu{
    width:100%;
    background-color: rgba(5, 5, 5, 0.600);
    display: flex;
    align-items: center;
  }

  .botao_menu{
    margin: 5px;
    border-radius: 10px;
    background-color: rgba(3, 77, 99, 0);
    width: 10vw;
    border: none;
    color: rgb(170, 170, 170);
  }

  .botao_menu:hover{
    background-color: rgba(119, 108, 216, 0.719);
    color: rgb(0, 0, 0);
  }

  .botao_menu_drop{
    margin: 5px 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: rgba(3, 77, 99, 0);
    width: 10vw;
    height: 30px;
    border: none;
    color: rgb(170, 170, 170);
  }

  .botao_menu_drop:hover{
    background-color: rgba(119, 108, 216, 0.719);
    color: rgb(0, 0, 0);
  }

  .menu_lista{
    position: absolute;
    right: 0;
    display: inline-block;
    width: 10vw;
    margin:5;
  }

  .menu_lista:hover .lista_menu{
    display: block;
  }

  .lista_menu a:hover{
    background-color: rgba(99, 6, 107, 0.685);
  }


  .lista_menu{
    display: none;
    position: absolute;
    background-color: rgba(3, 77, 99, 0);
    z-index: 1;
    color: rgb(170, 170, 170);
  }

  .lista_menu a{
    border-radius: 15px 0px 0px 15px;
    width: 10vw;
    height:30px;
    margin: 5px 0px;
    color: black;
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: rgba(119, 108, 216, 0.719);
  }

  